In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from sklearn import tree, metrics, model_selection
data=pd.read_csv("car.csv")
print(data)

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vhigh    1727 non-null   object
 1   vhigh.1  1727 non-null   object
 2   2        1727 non-null   object
 3   2.1      1727 non-null   object
 4   small    1727 non-null   object
 5   low      1727 non-null   object
 6   unacc    1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [31]:
data['class'],class_names = pd.factorize(data['class'])
print(class_names)
print(data['class'].unique())

Index(['unacc', 'acc', 'vgood', 'good'], dtype='object')
[0 1 2 3]

In [18]:
data = pd.read_csv('car.csv',names=['buying','maint','doors','persons','lug_boot','safety','class'])
data.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [39]:
data.describe()

       vhigh vhigh.1     2   2.1 small   low  unacc
count   1727    1727  1727  1727  1727  1727   1727
unique     4       4     4     3     3     3      4
top     high    high     3     4   med   med  unacc
freq     432     432   432   576   576   576   1209

In [41]:
print(x_train)

     vhigh vhigh.1  2   2.1  small   low
580   high    high  3     4    med  high
1214   med     low  3     2  small   low
1664   low     low  3  more  small   low
661   high     med  2     4    med  high
587   high    high  3  more    med   low
...    ...     ... ..   ...    ...   ...
835   high     low  4  more    big  high
1216   med     low  3     2  small  high
1653   low     low  3     2    big   med
559   high    high  2  more  small  high
684   high     med  3     4  small   med

[1208 rows x 6 columns]

In [28]:
print(Y_train)

580       acc
1214    unacc
1664    unacc
661       acc
587     unacc
        ...
835       acc
1216    unacc
1653    unacc
559     unacc
684     unacc
Name: unacc, Length: 1208, dtype: object

In [44]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1]
x_train,x_test,y_train,y_test = model_selection.train_test_split(x,y,test_size=0.3, random_state=0)
dtree = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3, random_state=0)
dtree.fit(x_train,y_train)
y_pred=dtree.predict(x_test)
y_pred

In [ ]:
y_pred = dtree.predict(x_test)
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))

In [ ]:
count_misclassified = (y_test != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))